[submodule "src/glm"]
	path = src/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/glfw"]
	path = src/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/tinygltf"]
	path = src/tinygltf
	url = https://github.com/syoyo/tinygltf.git
